*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 100vh;
    margin-top: 20px;
    box-shadow: 0 0 20px gray;
    width: 500px;
    border-radius: 1px;
}

.firstName, .lastName, .email, .password, .confirmPassword{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.firstName > label, .lastName > label, .email > label, .password > label, .confirmPassword > label{
    font-size: 20px;
    margin-bottom: 2px;
}
.firstName > input, .lastName > input, .email > input, .password > input, .confirmPassword > input{
    width: 400px;
    padding: 15px;
    border-radius: 10px;
    border: 0px;
    outline: none;
    margin: 0px;
}
.firstName > small, .lastName > small, .email > small, .password > small, .confirmPassword > small  {
    font-size: 15px;
    visibility: hidden;
}
input:focus{
    border: 2px solid gray;
}
.btnSubmit{
    width: 432px;
    background-color: blue;
    padding: 15px;
    border: 0px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.firstName.error > small, .lastName.error > small, .email.error > small, .password.error > small, .confirmPassword.error > small  {
    font-size: 15px;
    visibility: visible;
    color: red;
}
.firstName.error > input, .lastName.error > input, .email.error > input, .password.error > input, .confirmPassword.error > input  {
    border: 2px solid red;
}
.firstName.success > input, .lastName.success> input, .email.success > input, .password.success > input, .confirmPassword.success > input  {
    font-size: 15px;
    visibility: visible;
    border: 2px solid green;
}